.transactionHistory {
    border: 2px solid goldenrod;
    border-radius: 20px;
    width: 800px;
    background-color: bisque;
    border-spacing: 0;
}

.transaction:not(:nth-child(2n)) {
  background-color: gainsboro;
}

.type {
    font-size: 30px;
}

.names:not(:last-child) {
  border-right: 2px solid goldenrod;
  padding: 20px;
}

.border {
  border-top: 2px solid goldenrod;
  padding: 20px;
  text-align: center;
}

.border:not(:nth-child(3n)) {
  border-right: 2px solid goldenrod;
}